{{ form_start(form, { 'action': path('lakion_elastic_search_shop_product_index'), 'method': 'GET'}) }}
{{ form_rest(form) }}
<button type="submit">{{ 'sylius.ui.search'|trans }}</button>
{{ form_end(form) }}
